@font-face {
  font-family: 'Madelyn';
  src:
    url('./assets/fonts/madelyn/Madelyn-Trial-Regular.woff2') format('woff2'),
    url('./assets/fonts/madelyn/Madelyn-Trial-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.background {
  min-height: 80vh;
  background-size: cover;
  background-position: center;
  background-image: url('/static/images/Cover_wide.jpg');
}

@media (max-width: 768px) {
  .background {
    background-image: url('/static/images/Luna_Lucas.jpg');
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 60s linear infinite;
}
