@font-face {
  font-family: 'Madelyn';
  src:
    url('./assets/fonts/madelyn/Madelyn-Trial-Regular.woff2') format('woff2'),
    url('./assets/fonts/madelyn/Madelyn-Trial-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montez';
  src: url('./assets/fonts/montez/Montez-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

.background {
  min-height: 80vh;
  background-size: cover;
  background-position: center;
  background-image: url('/static/images/Cover_wide.jpg');
}

@media (max-width: 768px) {
  .background {
    background-image: url('/static/images/Luna_Lucas.jpg');
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  height: 80px; /* Adjust height as needed */
}

.marquee-content {
  display: flex;
  white-space: nowrap;
  animation: marquee 30s linear infinite; /* Adjust duration as needed */
}

.marquee-item {
  display: inline-block;
  white-space: nowrap;
  color: white;
  font-family: 'Inter', sans-serif; /* Ensure you have this font loaded */
  padding: 0 1rem; /* Add padding to space out the items */
}

