@font-face {
  font-family: 'Madelyn';
  src: url('./assets/fonts/madelyn/Madelyn-Trial-Regular.woff2') format('woff2'),
  url('./assets/fonts/madelyn/Madelyn-Trial-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
